@import 'colors.less';
@import 'mapbox-gl.css';

#app-root-2024-muuttolinnut .app {
  font-family: 'Yle Next', sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 21px;
  .container {
    box-sizing: border-box;
    margin: auto auto;
    max-width: 700px;
    h2 {
      display: none;
      margin: 0 0 0 0;
    }
    img {
      width: 100%;
    }
    .content {
      margin: 20px auto;
      .map_wrapper {
        position: relative;
        .maps_container {
          position: relative;
          .mapboxgl-map {
            .mapboxgl-ctrl-attrib.mapboxgl-compact {
              box-sizing: content-box;
            }
          }
          .main_map {
            height: 600px;
            position: relative;
            z-index: 1;
            .marker {
              background-image: url('../assets/img/285659_marker_map_icon.png');
              background-size: cover;
              border-radius: 50%;
              cursor: pointer;
              height: 50px;
              width: 50px;
            }
            .mapboxgl-popup {
              max-width: 200px;
              .mapboxgl-popup-content {
                text-align: center;
                h3 {
                  font-size: 24px;
                  margin: 0 0 10px 0;
                }
                p {
                  font-size: 18px;
                  margin: 0 0 0 0;
                }
              }
            }
          }
          .odometer {
            background: rgba(255, 255, 255, 0.95);
            color: #000;
            font-size: 20px;
            font-weight: 600;
            left: 0;
            margin: 0;
            padding: 5px 7px;
            position: absolute;
            top: 0;
            z-index: 3;
          }
        }
        .updated_info {
          background-color: #00b4c8;
          color: #fff;
          font-size: 14px;
          margin: 0 0 20px 0;
          padding: 5px 13px;
        }
      }
    }
  }
}

@import 'basics.less';