@import 'colors.less';
@import 'mapbox-gl.css';

#app-root-2024-muuttolinnut .app {
  font-family: 'Yle Next', sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 21px;
  .container {
    box-sizing: border-box;
    margin: auto auto;
    max-width: 700px;
    h2 {
      display: none;
      margin: 0 0 0 0;
    }
    img {
      width: 100%;
    }
    .content {
      margin: 20px auto;
      .map_wrapper {
        position: relative;
        .maps_container {
          position: relative;
          .mapboxgl-map {
            .mapboxgl-ctrl-attrib.mapboxgl-compact {
              box-sizing: content-box;
            }
          }
          .main_map {
            height: 600px;
            position: relative;
            z-index: 1;
            .marker {
              background-image: url('../assets/img/marker.png');
              background-size: 100% 100%;
              cursor: pointer;
              height: 30px;
              margin-bottom: 15px;
              margin-left: 15px;
              width: 30px;
            }
            .mapboxgl-popup-close-button {
              font-size: 40px;
              font-weight: bold;
              outline: none;
            }
            .mapboxgl-popup {
              bottom: 0 !important;
              display: block !important;
              left: 0 !important;
              max-width: 100% !important;
              position: absolute !important;
              transform: none !important;
              width: 100%;
              .mapboxgl-popup-content {
                background-color: rgba(255, 255, 255, 0.95);
                border-radius: 0;
                bottom: 0;
                box-sizing: border-box;
                padding: 10px 20px 40px 20px;
                position: absolute;
                text-align: left;
                width: 100%;
                h3 {
                  font-size: 24px;
                  margin: 0 0 10px 0;
                }
                p {
                  font-size: 15px;
                  margin: 0 0 0 0;
                }
              }
            }
          }
          .odometer {
            background: rgba(255, 255, 255, 0.95);
            color: #000;
            font-size: 20px;
            font-weight: 600;
            left: 0;
            margin: 0;
            padding: 5px 7px;
            position: absolute;
            top: 0;
            z-index: 3;
          }
        }
        .updated_info {
          background-color: #00b4c8;
          color: #fff;
          font-size: 14px;
          margin: 0 0 20px 0;
          padding: 5px 13px;
        }
      }
    }
  }
}

@import 'basics.less';